@media(max-width:1500px) {
    body {
        header {
            .head--1 {
                padding: 11px 32px 12px 32px;

                .head--text {

                    p:nth-of-type(1) {
                        font-size: 14px;
                    }

                    p:nth-of-type(2) {
                        font-size: 14px;
                    }
                }

                img {
                    width: 26px;
                    height: 26px;
                }
            }

            .head--2 {
                padding: 21.5px 80px;

                .head--home {
                    gap: 24px;

                    button:nth-of-type(1) {
                        width: 77px;
                        height: 45px;
                        padding: 12px 18px;
                    }

                    button {
                        font-size: 14px;
                        border-radius: 8px;
                    }
                }

                .but {
                    width: 109px;
                    height: 49px;
                    font-size: 14px;
                    padding: 0;
                    border-radius: 8px;
                }
            }
        }

        .container {
            .container--1 {
                gap: 60px;

                .container--left {
                    padding: 98px 0 98px 80px;
                    gap: 50px;

                    .container--left--1 {
                        gap: 20px;

                        h1 {
                            font-size: 46px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    .container--left--2 {
                        gap: 16px;

                        button:nth-of-type(1) {
                            width: 111px;
                            height: 49px;
                            padding: 0;
                            font-size: 14px;
                        }

                        button:nth-of-type(2) {
                            width: 151px;
                            height: 49px;
                            padding: 0;
                            font-size: 14px;
                        }
                    }

                    .container--left--3 {
                        gap: 16px;
                        justify-content: space-between;

                        .con--item {
                            padding: 14px 20px;

                            h5 {
                                font-size: 30px;
                            }

                            p {
                                font-size: 16px;
                            }

                        }
                    }
                }

                .container--right {
                    .sub {
                        width: 129px;
                        height: 129px;
                        top: 95px;
                        left: -70px;
                    }

                    img {
                        width: 690px;
                        height: 622px;

                    }
                }
            }

            .container--2 {
                gap: 10px;
                box-shadow: 0px 0px 0px 6px #191919;
                justify-content: space-between;
                padding: 10px;

                .con--card {
                    padding: 30px 16px;
                    min-width: 178px;

                    .ten {
                        width: 26px;
                        height: 26px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                    }

                    p {
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }

        .featured {
            margin-top: 120px;
            max-width: 1280px;
            width: 100%;

            .featured--1 {
                .featured--text {
                    gap: 10px;

                    h2 {
                        font-size: 38px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                button {
                    width: 155px;
                    height: 49px;
                    font-size: 14px;
                    padding: 0;
                }
            }

            .featured--2 {
                margin-top: 60px;
                margin-bottom: 40px;
                gap: 20px;
                justify-content: center;

                .featured--card {
                    padding: 30px;
                    max-width: 420px;
                    width: 100%;

                    .featured--card--a {
                        gap: 24px;

                        .featured--card--1 {
                            gap: 4px;

                            h4 {
                                font-size: 20px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }

                        .featured--card--2 {
                            button {
                                gap: 4px;

                                font-size: 14px;

                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }

                        .featured--card--3 {
                            gap: 40px;


                            .price {


                                p {
                                    font-size: 14px;
                                }

                                h3 {
                                    font-size: 20px;
                                }
                            }

                            button {
                                height: 49px;
                                border-radius: 8px;
                                font-size: 14px;
                            }
                        }
                    }
                }

            }

            .featured--3 {
                padding-top: 16px;

                p {
                    font-size: 16px;
                }

                .featured--3--icon {
                    img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        }

        .what {
            margin-top: 120px;
            max-width: 1280px;
            width: 100%;

            .what--1 {
                .what--text {
                    gap: 10px;

                    h2 {
                        font-size: 38px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                button {
                    width: 170px;
                    height: 49px;
                    font-size: 14px;
                    padding: 0;
                }
            }

            .what--2 {
                gap: 20px;
                justify-content: center;
                margin-top: 60px;
                margin-bottom: 40px;

                .what--card {
                    padding: 40px;
                    gap: 30px;
                    max-width: 420px;
                    width: 100%;


                    img {
                        width: 222px;
                        height: 36px;
                    }

                    .what--card--1 {
                        gap: 10px;


                        h4 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }

                    .what--card--2 {
                        gap: 10px;

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        .what--img {


                            h5 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .what--3 {
                padding-top: 16px;

                p {
                    font-size: 16px;
                }

                .what--3--icon {
                    img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        }

        .frequently {
            margin-top: 120px;
            max-width: 1280px;
            width: 100%;

            .frequently--1 {
                .frequently--text {
                    gap: 10px;

                    h2 {
                        font-size: 38px;
                    }

                    p {
                        font-size: 16px;
                    }
                }

                button {
                    width: 127px;
                    height: 49px;
                    font-size: 14px;
                    padding: 0;
                }
            }

            .frequently--2 {
                gap: 20px;
                justify-content: center;

                .frequently--card {
                    padding: 40px;
                    gap: 24px;
                    max-width: 420px;
                    width: 100%;

                    h3 {
                        height: 60px;
                        font-size: 20px;
                    }

                    p {
                        font-size: 16px;
                    }

                    button {
                        width: 107px;
                        height: 46px;
                        font-size: 14px;
                        padding: 0;
                    }
                }
            }

            .frequently--3 {
                padding-top: 16px;

                p {
                    font-size: 16px;
                }

                .frequently--3--icon {
                    img {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        }

        .start {
            padding: 59px 80px 60px 80px;

            .s--1 {
                width: 474px;
                height: 258px;
                bottom: 0;
                left: 0;

            }

            .s--2 {
                width: 569px;
                height: 310px;
                bottom: 0;
                right: -10px;

            }

            .start--a {
                gap: 10px;
                max-width: 979px;
                width: 100%;


                h2 {
                    font-size: 38px;
                }

                p {
                    font-size: 16px;
                }
            }

            button {
                width: 152px;
                height: 49px;
                font-size: 14px;
                padding: 0;
            }
        }

        footer {
            .foo--1 {
                padding: 80px;

                .foo--1--s {
                    gap: 24px;
                    max-width: 326px;
                    width: 100%;
                    min-width: 218px;


                    img {
                        width: 113.33px;
                        height: 34px;

                    }

                    .sas {
                        max-width: 305px;
                        width: 100%;
                        height: 52px;
                        border-radius: 8px;
                        gap: 6px;

                        img:nth-of-type(1) {
                            width: 20px;
                            height: 20px;
                        }

                        img:nth-of-type(2) {
                            width: 24px;
                            height: 24px;
                        }

                        p {
                            font-size: 14px;
                        }

                    }
                }

                .foo--1--t {


                    .ho {
                        gap: 24px;


                        h5 {
                            font-size: 18px;
                        }

                        .hom {
                            gap: 16px;

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            .foo--2 {
                padding: 12px 80px;
                flex-wrap: wrap;

                .foo--2--a {
                    gap: 20px;

                    p {
                        font-size: 14px;
                    }
                }

                .foo--2--b {
                    gap: 8px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width:1150px) {
    body {
        .featured {
            .featured--2 {
                .featured--card:nth-of-type(1) {
                    display: none;
                }
            }
        }

        .what {
            .what--2 {
                .what--card:nth-of-type(3) {
                    display: none;
                }
            }
        }

        .frequently {
            .frequently--2 {
                .frequently--card:nth-of-type(1) {
                    display: none;
                }
            }
        }

        footer {
            .foo--1 {
                flex-wrap: wrap;
            }

            .foo--2 {
                margin: auto;

                .foo--2--a {
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width:820px) {
    body {
        header {
            .head--2 {
                padding: 21.5px 30px;

                .soc {
                    display: block;
                    width: 28px;
                    height: 28px;
                }

                .head--home {
                    display: none;
                }

                button {
                    display: none;
                }
            }

        }

        .container {
            .container--1 {
                padding: 40px 15px;
                flex-wrap: wrap;
                justify-content: center;
                gap: 56px;

                .container--left {
                    padding: 0;
                    order: 2;
                }

                .container--right {
                    order: 1;

                    .sub {
                        top: 83%;
                        left: 0;
                        width: 117px;
                        height: 117px;
                    }

                    img {
                        border-radius: 12px;
                        max-width: 690px;
                        width: 100%;
                        height: auto;
                    }

                }
            }

            .container--2 {
                display: flex;
                flex-wrap: wrap;
                padding: 10px;

                .con--card {
                    max-width: calc((100% - 10px)/2);
                    width: 100%;
                }
            }
        }
        .start{
            padding-inline: 15px;
        }
        footer {
            .foo--1 {
                padding-inline: 15px;
                .foo--1--t {
                    flex-wrap: wrap;
                    gap: 40px;
                    min-width: 0px;

                    .k {
                        display: block;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .i {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            h5 {
                                font-family: 'Urbanist';
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                color: #999999;
                            }

                            .e {
                                display: flex;
                                flex-direction: column;
                                gap: 8px;

                                p {
                                    font-family: 'Urbanist';
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .ho {
                        gap: 16px;
                        h5 {
                            font-size: 16px;
                        }

                        .hom {
                            gap: 8px;

                            p {
                                font-size: 14px;
                            }
                        }
                    }

                    .ho:nth-of-type(8) {
                        display: none;
                    }

                    .ho:nth-of-type(6) {
                        display: none;

                    }
                }
            }
            .foo--2{
                padding-inline:32px ;
            }
        }
    }
}